In [ ]:
#Question 3

In [1]:
import pandas as pd

In [21]:
data= {"Name": ['Alice','Bob','Claire'], "Age": [25,30,27], 'Gender': ['Female', 'Male', 'Female']}

In [22]:
df= pd.DataFrame(data)

In [23]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Question 1

In [36]:
a=[4,8,15,16,23,42]

In [37]:
series= pd.Series(a)

In [38]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
#Question 2

In [39]:
list= [2,3,4,5,6,7,8,9,10,12]

In [40]:
list_series= pd.Series(list)

In [41]:
list_series

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    12
dtype: int64

In [ ]:
#Question 4

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types, similar to a spreadsheet.
A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc
Question 1 and 3 are the example of Series and Data Type.

In [ ]:
#Question 5

some common functions you can use to manipulate data in a Pandas DataFrame are:
1) head()
2) tail()
3) drop()
4) groupby()
5) merge()
6) sort_values()

Example: Suppose you have a DataFrame with data on student grades and you want to sort the data by the student's final            grades in descending order to see who performed the best in the class. You can use the sort_values() function            to accomplish this.

In [ ]:
#Question 6

Series and DataFrame are mutable in nature

In [ ]:
#Question 7

In [45]:
import pandas as pd

In [50]:
name = pd.Series(['Alice', 'Bob'])

In [51]:
age= pd.Series([33,53])

In [57]:
pd.DataFrame({'Name': name, 'Age': age})

    Name  Age
0  Alice   33
1    Bob   53